table.tab {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table.tab td,
table.tab th {
    border: 1px solid #AAAAAA;
    padding: 4px 0px;
}

table.tab tbody td {
    font-size: 13px;
}

table.tab tr:nth-child(even) {
    background: #D0E4F5;
}

table.tab thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}

table.tab thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
}

table.tab tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}

table.tab tfoot td {
    font-size: 14px;
}